.resultPage {
  background: #A2C7D7;

  .title {
    color: white;
    padding-top: 48px;
    text-align: center;
  }

  .subTitle1 {
    color: white;
    margin-bottom: 48px;
  }

  .enterTest {
    width: 60vw;
  }
}
